@charset "UTF-8";
/*--------------------------------------------------------------
　 TODO: Contents Layout
---------------------------------------------------------------*/
#main-wrap {
  max-width: 1170px;
  padding: 20px 30px;
  margin: 0 auto;
}
.contents-flex {
  font-size: .913rem;
  width: 100%;
  padding: 0 0 0 15%;
  box-sizing: border-box;
}
.contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 0 3% 0 6%;
  margin-bottom: 1rem;
  box-shadow: 1px -2px 4px .5px rgba(0,0,0,.15);
  border-top: solid 24px #fff;
  border-bottom: solid 8px #fff;
}
.contents:last-child {
  margin-bottom: 0;
}

.contents div {
  box-sizing: border-box;
  flex: 0 0 33.3%;
  margin: .6em 0;
}
.contents div.v2 {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin: .6em 0;
}
.contents div a {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  text-align: center;
  border: solid 1px #666;


}
/*--------------------------------------------------------------
　 TODO: ARTICLE
---------------------------------------------------------------*/
/*
.contents::before {
  content: "";
  position: absolute;
  display: block;
  background: #9BC1BC;
  height: 100%;
  width: 1%;
  margin: -12px 0 0 -5%;
  border-radius: 2px 0 0 2px;
  z-index: 1;
  background-image: linear-gradient(to right,
    transparent 80%,
    rgba(252, 239, 183, 1.0) 80%);
}
*/
.contents::after {
  content: "";
  display: block;
  height: 0px;
  background: #9BC1BC;
  z-index: 1;
}
.contents-head {
  background-color: #9BC1BC;
  color: #fff;
}
h2.title-h2 {
  font-size: .925rem;
  font-weight: normal;
  text-align: right;
  margin: 0;
  padding: 2px 14px;
}
.contents-body {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 14px;
  background: url(../img/bg_pattern.png) center top repeat;
}
.contents-title {
  display: flex;
  flex: 0 0 40%;
}
.contents-title div {
  width: 4.063rem;
  margin: 0 0 0 2%;
  writing-mode: bt-rl;
  writing-mode: vertical-rl;
}
.contents-h3 {
  font: 4.063rem/1 "Orbitron", sans-serif;
  color: rgba(102, 102, 102, .2);
  text-align: right;
  margin: 0;
}
.contents-main {
  flex: 0 0 60%;
  margin-top: .5rem;
}
/*--------------------------------------------------------------
　 TODO: Media
---------------------------------------------------------------*/
@media screen and (max-width: 809px) {
#main-wrap {
  padding: 20px 4%;
}
.contents-flex {
  flex: 0 1 100%;
  font-size: .813rem;
  margin: 0;
  padding: 0;
}
.contents div {
  flex: 0 0 50%;
}
.contents-body {
  display: block;
}
.contents-title {
  display: block;
  flex: none;
}
.contents-title div {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 2rem 0 1rem 0;
  writing-mode: lr-bt;
  writing-mode: horizontal-tb;
}
.contents-h3 {
  display: inline;
  color: rgba(102, 102, 102, 1);
  font: 1.5rem/0 "Orbitron", sans-serif;
  text-align: left;
  margin: 0;
}
.contents-main {
  flex: none;
}
}
@media screen and (max-width: 375px) {
#main-wrap {
  padding: 20px 0;
}
.contents div {
    flex: 0 0 100%;
}
}